/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# bootstrap cache
/bootstrap/cache/*

# firebase credentials file (https://firebase.google.com/docs/admin/setup#initialize-sdk) 
firebase_credentials.json

# scribe api documentation
.scribe

# my log files
*.log